<h1 class="text-center">Profile</h1>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="text-center mb-4">
        <% if @profile.avatar? %>
          <%= image_tag @profile.avatar, size: "150x150", class: "rounded-circle" %>
        <% else %>
          <div class="alert alert-warning" role="alert">
            Please upload a profile photo.
          </div>
        <% end %>
      </div>
      <div class="card shadow-sm p-4 mb-4">
        <span><%= user_category(@profile)%> | <%= user_company(@profile)%></span>
        <p><strong>User Name:</strong> <%= @profile.name %></p>
        <p><strong>Address:</strong> <%= @profile.address %></p>
        <p><strong>Bio:</strong> <%= @profile.bio %></p>
        <p><strong>Skills:</strong> <%= @profile.skill %></p>
        <p><strong>Experience(months):</strong> <%= @profile.experience %></p>
        <p><strong>Full Name:</strong> <%= @profile.user.full_name %></p>
        <p><strong>Phone Number:</strong> <%= @profile.user.phone_number %></p>
        <p><strong>Role:</strong> <%= @profile.user.role %></p>
         <%# <% if @profile.myresume? %> 
          <%# <%= image_tag @profile.myresume%> 
        <p><strong>Resume:</strong>
        <%= link_to rails_blob_path(@profile.myresume, disposition: "attachment") do %>
          <%= image_tag @profile.myresume, alt: "Download file" %>
        <% end %>
        </p>
        <!-- Resume -->
        <%# <p><strong>Resume:</strong> %>
          <%# <% if @profile.resume? %> 
            <%# <%= image_tag @profile.user_resume, class: "btn btn-link" %> 
          <%# <% else %> 
            <%# <span>No resume uploaded</span> %>
          <%# <% end %> 
        </p>
      </div>
      <% if current_user == @profile.user %>
        <div class="text-center mb-4">
          <%= link_to "Edit Profile", edit_profile_path(current_user), class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
