<h1>Task details</h1>
<p>Task Category: <%=task.category.name %> </p>
<p>Duration: <%=task.duration%> </p>
<p> Location: <%=task.location%> </p>
<%# <p> Sift Timing: <%task.sift_time%> </p> 
<p> Company: <%task.company%> </p>
<p> Description <%=task.description%> </p>
<p>Apply  <%=link_to "..."%> </p>