<%= render partial: "layouts/worker_header" %>
<%# search sector %>
<div>
<%= search_form_for [:worker, @q], remote: true do |f| %>
          <div class="d-flex align-items-center">
            <div class="me-2">
              <%= f.label :location_cont, 'Location' %>
              <%= f.text_field :location_cont, class: "form-control" %>
            </div>
            <div class="me-2">
              <%= f.label :company_cont, 'Company' %>
              <%= f.text_field :company_cont, class: "form-control" %>
            </div>
            <div class="me-2">
              <%= f.label :category_id_eq, "Category" %>
              <%= f.collection_select :category_id_eq, Category.all, :id, :name, { include_blank: true }, class: "form-select" %>
            </div>
            <div>
              <%= f.submit "Search", class: "btn btn-primary" %>
            </div>
          </div>
<% end %>
</div>
<p id="notice"><%= notice %></p>
<%# task view %>
<h1>List of all Task</h1>
<table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Task Name</th>
        <th>Company</th>
        <th>Location</th>
      </tr>
    </thead>
    <tbody>
    <% if @task.present? %>
      <% @task.each_with_index do |per_task, index|%>
      <tr>
        <td><%= index + 1 %></td>
        <td>
          <%=per_task.category.name%>
        </td>
        <td>
         <%= per_task.company%>
        </td>
        <td>
         <%= per_task.location%>
        </td>
        <td>
            <%= link_to "view",worker_task_path(per_task), class: "btn btn-success btn-sm", method: :patch %>
        </td>
      </tr>
      <%end%>
    <%else%>
    <p>There is no task found!</p>
    <%end%>
      </tbody>
</table>
<% if can? :create, Task %>
  <p><%= link_to "create new task",new_contractor_task_path%></p>
<% end %>
<%= render partial: "layouts/con_footer"%>
