<%= render partial: "layouts/con_header" %>
<p>Applications</p>
<%=@applied.each do |can|%>
 <%= link_to can.task.category.name %>
<%end%>
<% if @task.present? %>
  <h1>All Tasks</h1>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Task Name</th>
        <th>Number of Applications</th>
      </tr>
    </thead>
    <tbody>
      <% @task.each do |task| %>
        <tr>
          <td><%= task.category.name %></td>
          <td><%= task.applications_count || "0" %></td>
          <td>
            <%= link_to "Task", contractor_task_path(task), class: "btn btn-primary btn-sm" %>
            <%= link_to "Applicant", contractor_application_path(task), class: "btn btn-secondary btn-sm" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No tasks available. Please check back later!</p>
<% end %>

