<h1>New Application</h1>
<p>Candidate Name: <%=@task %></p>
<%# <p>Candidate Details: <%= link_to 'view', contractor_application_url(@worker) %>  %>
<%# <%= link_to 'view', contractor_application_url(@worker) %> %>
<%# <p><strong>to <%= "#{@task.category.name}"%>  %>
<%# <>Task Details: <%=linke_to "view",  contractor_task_path(@task)%> %>

