<h1>New Application</h1> <p>We are pleased to inform you that a new application has been received for your task.</p>
<%# <p><strong>Candidate Name:</strong> <%= @task.user.full_name %></p> 
<p><strong>Task:</strong> <%= @task.category.name %> at <%= @task.company %> - <%= @task.location %></p> 


<p>We will review the application and get back to you soon.</p>
Best regards,
JobYatra Team


<%# <p>Candidate Details: <%= link_to 'view', contractor_application_url(@worker) %>  %>
<%# <%= link_to 'view', contractor_application_url(@worker) %> %>
<%# <p><strong>to <%= "#{@task.category.name}"%>  %>
<%# <>Task Details: <%=linke_to "view",  contractor_task_path(@task)%> %>

