<div class="row g-3">
<%= form_with model: [:contractor, @task.first] do |form| %>
<div class="row">
  <div class="mb-3">
   <%=form.label :category%>
   <%= form.select :category,@task.last.map { |i| [i.name, i.id] } %>  </div>
  <div class="mb-3">
  <%=form.label :duration%>
  <%=form.text_field :duration%> 
   </div>
</div>
<div class="row">
  <div class="mb-3">
   <%=form.label :location%>
  <%=form.text_field :location%>
  </div>
  <div class="mb-3">
  <%=form.label :company%>
  <%=form.text_field :company%>
   </div>
</div>
<div class="row">
  <div class="mb-3">
  <%=form.label :description%>
  <%=form.text_field :description%>
  </div>
  <div class="mb-3">
  <%=form.label :salary%>
  <%=form.number_field :salary%>
   </div>
</div>
<div class="mb-3">
  <%=form.submit "Save"%>
  </div>
<% end %>
</div>
</div>
