<%= render partial: "layouts/con_header" %>

<h1>List of all Task</h1>

<ul class="list-group">
  <% @task.each do |per_task|%>
  <li class="list-group-item">
    <%=link_to per_task.category.name,contractor_task_path(per_task)%>
  </li>
    <br>
<%end%>
</ul>

<p><%= link_to "create new task",new_contractor_task_path%></p>
<p><%=link_to "go  to home page",root_path%></p>

<%= render partial: "layouts/con_footer"%>