<%= render partial: "layouts/con_header" %>
<% if @task.present?%>
<h1>List of all Task</h1>
<table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Task Name</th>
        <th>Company</th>
        <th>Location</th>
         <th>Number of Applications</th>
      </tr>
    </thead>
    <tbody>
      <% @task.each_with_index do |per_task, index|%>
      <tr>
        <td><%= index + 1 %></td>
        <td>
          <%=per_task.category.name%>
        </td>
        <td>
         <%= per_task.company%>
        </td>
        <td>
         <%= per_task.location%>
        </td>
        <td>
          <%= per_task.applications.count || "0" %>
        </td>
        <td>
            <%= link_to "view", contractor_task_path(per_task), class: "btn btn-success btn-sm", method: :patch %>
        </td>
        <td>
        <% if can? :update, per_task %>
          <% if per_task.unavailable? || per_task.status.blank?%>
            <%= button_to "post",task_post_contractor_task_path(per_task), formmethod: :post, data: { confirm: "Are you sure?" }, class: "btn btn-success btn-sm" %>
          <% else %>
            <p><strong>Posted</strong></p>
          <%end%>
        <%end%>
        </td>
        <td>
            <%= link_to "Applicant",  contractor_application_path(per_task), class: "btn btn-secondary btn-sm" %>
        </td>
      </tr>
      <%end%>
      </tbody>
</table>
<%else%>
<p>Tere is not task created</p>
<%end%>
<% if can? :create, Task %>
  <p><%= link_to "create new task",new_contractor_task_path%></p>
<% end %>
<%= render partial: "layouts/con_footer"%>
