<% if user_signed_in? %> 
 <div> Welcome <%= current_user.email %> </div>  
 <% if current_user.worker? %>
    <%= render partial: "profile", locals: { user: current_user } %>
    <p> <%= link_to "view all task", worker_tasks_path%> </p>
 <%else%>
  <%= render partial: "profile", locals: { user: current_user } %>
  <p> <%= link_to "view all task", contractor_tasks_path%> </p>
  <p><%= link_to "create new task",new_contractor_task_path%></p>
 <%end%>
  <%= button_to "Sign out", destroy_user_session_path, method: :delete %> 
<% else %>
  
  <%= button_to "Sign in", new_user_session_path %> 
<% end %>
<p>-------------------------------------------------------------------------------</p>
<p>-------------------------------------------------------------------------------</p>

